
<div class="navbar-inner">
      <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </a>
            <a class="brand" href="https://experiencor.github.io/"><span class="site-name">Home</span></a>
            <div class="nav-collapse collapse">
                  <ul class="nav pull-right top-menu">
                        <li class="active">
                              <a href="https://experiencor.github.io/">Home</a>
                        </li>
                        <li>
                              <a href="https://experiencor.github.io/categories.html">Categories</a>
                        </li>
                        <li>
                              <a href="https://experiencor.github.io/tags.html">Tags</a>
                        </li>
                        <li>
                              <a href="https://dfx07.github.io/archives.html">Archives</a>
                        </li>
                        <li>
                              <form class="navbar-search" action="https://experiencor.github.io/search.html"
                                    onsubmit="return validateForm(this.elements[&#39;q&#39;].value);">
                                    <input type="text" class="search-query" placeholder="Search" name="q"
                                          id="tipue_search_input" />
                              </form>
                        </li>
                  </ul>
            </div>
      </div>
</div>