/*
 Only custom marker for summary/details
 For cross browser compatible styling hide Firefox's marker by setting summary { display: block }
 and Chrome and Safari's marker by setting ::-webkit-details-marker {display: none;}
*/
summary {
    cursor: pointer;
    color: black;  
    outline: 0; 
}

summary::-webkit-details-marker {
    display: none;
}

.tree-nav__item {
    display: block;
    white-space: nowrap;
    color: #ccc;
    position: relative;
}

.tree-nav__item.is-expandable::before {
    border-left: 1px solid #333;
    content: "";
    height: 100%;
    left: 0.8rem;
    position: absolute;
    top: 2.4rem;
    height: calc(100% - 2.4rem);
}

.tree-nav__item .tree-nav__item {
    margin-left: 1.3rem;
}

.tree-nav__item.is-expandable[open] > .tree-nav__item-title::before {
    font-family: inherit;
    transform: rotate(90deg);
}

.tree-nav__item.is-expandable > .tree-nav__item-title {
    padding-left: 2.0rem;
}

.tree-nav__item.is-expandable > .tree-nav__item-title::before {
    position: absolute;
    will-change: transform;
    transition: transform 300ms ease;
    font-family: inherit;
    font-size: 24px;
    color: #6d6d6d;
    content: "\01F892";
    top: -1px;
    left: 3px;
    display: inline-block;
    width: 1.5rem;
    text-align: center;
}

.tree-nav__item-title {
    cursor: pointer;
    display: block;
    outline: 0;
    color: black;
    line-height: 2.0rem;
}

.tree-nav__item-title .icon {
    display: inline;
    padding-left: 2.5rem;
    margin-right: 0.8rem;
    color: #666;
    position: relative;
}

.tree-nav__item-title .icon::before {
    top: 0;
    position: absolute;
    left: 0;
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}

.tree-nav__item-title::-webkit-details-marker {
    display: none;
}